$config: (
  prefix: "tw-",
  screens: (
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
  ),
  colors: (
    black: #000000,
    text-base: #1f2d3d,
    background: #f9fafc,
    white: #f9fafc,
    border: #e7eaf3,
    silver: #c2cedb,
    silver-light: #e5e9f2,
    silver-light1: #f8f8f8,
    silver-dark: #3f3f46,
    primary: #f5a201,
    primary-light: #ffd35b,
    primary-dark: #ffba42,
    secundary: #00537a,
    secundary-light: #013c58,
    secundary-dark: #0b1e33,
    success: #14a38b,
    warning: #f2ac57,
    danger: #ff7171,
  ),
  materialColors: (),
  justifyContent: (
    start: flex-start,
    center: center,
    end: flex-end,
    around: space-around,
    between: space-between,
    evenly: space-evenly,
  ),
  alignItems: (
    start: flex-start,
    center: center,
    end: flex-end,
    baseline: baseline,
  ),
  widthSizes: [2,
  3,
  4,
  5,
  6,
  10,
  12],
);
